include l/u
include l/m


!!! 5
html(lang="en")

    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        script.

          _app = wappyApp = '#{app}'

          _pam = wappyPam = '#{pam}'

        +css('bs')

        +css('themes')



        //deps
        +S([ "us","jq","bs","cjs", "string",    'bx','b2dbasics','b2dutils'  ])



        +S(['objects',   'spriteSheets','core', 'jqueryplugins', 'html', 'boot','ui' ,'can','sys',  'images'])


        +S(['easel', 'displayObject',  'shape', 'text', 'mobile','animation','sprites', 'bitmap', 'toolkit', 'stage', 'event' ])


        +S(['filt',  'draw',  'api', ])

        +S(['pics','animate','imagine','work','tween','tw0',  'display' ])

        +S([ 'solve','playgame','iso',  'boxWorld','boxWorldMore','walls'])

        +S(['makeworld', 'b2dSensors','playerWorld',   'boxRev','weld','prism','coll','gamey','pong','easelbox','joints','wheel'])

        +S([ 'emitter', 'ragdoll',  'tilemapping','launcher','fullgames'])

        +S(['controls','orbs',  'play', 'shooter','boxBody','talkjs','mario','squares','edges','boxgame','boxDebug','boxFixt'])

        +S(['boxShapes','player','pinball','boxsprite','examples'])

        body



























