include l/u
include l/m


!!! 5
html(lang="en")

    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        script.

          _app = wappyApp = '#{app}'

          _pam = wappyPam = '#{pam}'

        +css('bs')

        +css('themes')



        //deps
        +S(['hb',"us","jq","bs","cjs","socket.io/socket.io","string", 'bb','bbmn', 'ph2','bx'  ])
        +S(['ko','mel','gq'])


        //base and libs
        +S(['objects',   'sprites','core', 'jqueryplugins', 'html', 'boot','ui' ,'can','sys',  'images'])



        +S(['create',  'shape',  'mobile','animation','displayObject', 'toolkit', 'stage', 'event','socket', 'ranky'])



        +S(['filt',  'draw', 'defaultMug','routeTests', 'nav', 'api','knock' ,'angu', 'bbtemps','backbone1','people','mar'])

        +S(['pics','create','animate','imagine','work','tween','tw0','universe','melon','gquery','ph','phaser0','phaser','ninja','j3','invaders','display','three'])

        +S(['solve','play','iso','users','share','chat' ,'messages', 'boxWorld',  'makeworld',    'boxRev','weld','prism','coll','gamey','pong','easelbox','joints','wheel' ,'backbone','emitter','p2fiddle','ragdoll','p2constraints','unigame','tilemapping','launcher','fullgames','p2physics'])

        +S(['controls','orbs',  'app', 'boxBody','boxDebug','boxFixt' ,'boxShapes','player','pinball'])

        body



























