script#cats_template(type="text/template")
    thead
        tr.header

            th Name
            th Img
            th Rank
    tbody


script#cat_template(type="text/template")
    td <%= name %>
    td
        img.angry_cat_pic(src != '<%= img %>')
    td <%= rank %>
    td
        .rank_up up
        .rank_down down


