include l/u
include l/m
include l/t

!!! 5
html(lang="en")

    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        script.
           app='#{app}'

           pam='#{pam}'


        +S(["us","jq",'jqueryplugins',"bs","cjs","socket.io/socket.io","string","string",  'bx'  ])



        +S(['objects','glossary','core','dim','qq','html','images' ,'xx','can' ])

        +S(['easel', 'do','stage', 'time','event' ])

        +S([ 'math',   'nap'  ])

        +S([ 'box00', 'boxbody', 'box2d0','box2d1', 'boxsetup',  'boxshapes',  'fixtures','box2d', 'structures','boxrev',   'joints','wheel'  ])



        body



























